for browserstack env (the name should be like '.env.browserstack'):

platformName = "android"
platformVersion = "9.0"
deviceName = "Google Pixel 3"
app = 'bs://b7b775505e0eb65e319e98c7a94d59bb8468dfa8'
projectName = "First Python project"
buildName = "browserstack-build"
sessionName = "BStack tests"
remoteBrowser = 'http://hub.browserstack.com/wd/hub'
userName = 'useranon666'
accessKey = 'TestTTRs23ddij7w88in'