for local env (the name should be like '.env.mobile.local'):

platformName = 'Android'
platformVersion = "11.0"
automationName = 'UiAutomator2'
app = './fm.last.android_2.5.1.5_99.apk'
remoteBrowser = 'http://127.0.0.1:4723/wd/hub'